
*{
  font-family: murderer;  
}

.backForest{
  background: url('../src/img/forest.jpg');
  background-repeat: round;
}
.listCard{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}