.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.displayTitle{
    font-family: luckiest guy;
    font-size: 2vw;
    color: white;
}
.questionCount span{
    font-family: luckiest guy;
    font-size: 1vw;
}
.backQuizz{
    padding-bottom: 5px;
}